@import '../../styles/fonts.scss';

* {
    margin: 0;
}

@-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
.user {
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    position: relative;
    height: fit-content;
    width: 35vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: #fff;

    

    &:nth-child(odd) {
        margin-right: 2rem;
    }

    &__hold {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        padding-top: 75px;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 100%;
        position: relative;
    }

    &__short {
        //background-color: $mainDark;
        width: 35%;
        padding: 0.5rem;
        border-radius: 3px;
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            
        &:last-of-type {
            margin: 0;
        }
    }

    &__pic {
        height: 80px;
        width: 80px;
        border-radius: 5px;
        position: absolute;
        top: -1rem;
    }

    &__data {
        display: flex;
        justify-content: center;
        
    }

    &__name {
        color: $mainDark;
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 1.3rem;
        margin: 0;
    }

    &__number {
        @extend .user__name;
        font-size: 2rem;
        color: white;
        margin: 0;
        width: fit-content;
    }

    &__sub {
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 1.2rem;
        color: $altColor;
        margin-top: 5px;
    }

    &__more {
        padding: 0 2rem;
    }

    &__show {
        color: $mainDark;
        font-family: 'Roboto';
        font-weight: 600;
        &:hover {
            cursor: pointer;
        }

        &--clicked {
            @extend .user__show;
            color: $text;
        }
    }

    &__circle {
        height: 5rem;
        width: fit-content;
    }

    &__sug {
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 1.5rem;

        &--alt {
            @extend .user__sug;
            color: $mainDark;
        }
    }
}