.repo {
    &__card {
        margin: 1em 0;
        max-width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        min-height: 0;
        background: #fff;
        padding: 0;
        //border: 1px solid #523ee8;
        border-radius: .28571429rem;
        box-shadow: 0 1px 3px 0 #523ee8, 0 0 0 1px #523ee8;
        transition: box-shadow .1s ease,transform .1s ease;

        &:first-child {
            margin-top: 0;
        }

        &:hover {
            cursor: pointer;
        }

        &--alt {
            @extend .repo__card;
            background-color: #523ee8;
            color: white;
        }
    }

    &__owner {
        color: #523EE8;
        font-size: 0.8rem;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;

        &-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .8rem
        }

        &--alt {
            @extend .repo__owner;
            color: white;
        }
    }

    &__title {
        @extend .repo__owner;
        font-weight: bold;
        font-size: 1.2rem;

        &--alt {
            @extend .repo__title;
            color: white;
        }
    }

    &__content {
        border-top: 0.5px solid #523EE8;
        width: 100%;
        padding: 0.8rem;

        &--alt {
            @extend .repo__content;
            border-top: 0.5px solid white;
        }
    }

}