@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.repo {
    &__card {
        margin: 1em 0;
        max-width: 100%;
        position: relative;
        display: flex;
        
        justify-content: center;
        width: 400px;
        height: fit-content;
        background: #fff;
        padding: 0;
        
        border-radius: 5px;
        box-shadow: 0 0.5px 5px 0 #e1e1e1;
        transition: box-shadow .1s ease,transform .1s ease;

        &:first-child {
            margin-top: 0;
        }

        &:hover {
            cursor: pointer;
            background-color: #FAFAFA;
        }

        &--alt {
            @extend .repo__card;
            background-color: #523ee8;
            color: white;
        }
    }

    &__owner {
        color: #523EE8;
        font-size: 0.8rem;
        font-family: 'Poppins', sans-serif;;
        margin: 0;

        &-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;
            padding: 1rem;
            //background-color: #F4F7FA;
        }

        &--alt {
            @extend .repo__owner;
            color: white;
        }
    }

    &__title {
        @extend .repo__owner;
        font-weight: bold;
        font-size: 1rem;
        margin-right: 1rem;

        &--alt {
            @extend .repo__title;
            color: white;
        }
    }

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__date {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        @extend .repo__owner
    }

    &__content {
        background-color: #F4F7FA;;
        width: 100%;
        padding: 0.5rem;

        &--alt {
            @extend .repo__content;
            border-top: 0.5px solid white;
        }
    }

    &__folder {
        max-height: 64px;
    }

}