@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.repo {
    &__card {
        margin: 1em 0;
        max-width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        min-height: 0;
        background: #fff;
        padding: 0;
        //border: 1px solid #523ee8;
        border-radius: .28571429rem;
        box-shadow: 0 1px 3px 0 #1C1E26, 0 0 0 1px #1C1E26;
        transition: box-shadow .1s ease,transform .1s ease;

        &:first-child {
            margin-top: 0;
        }

        &:hover {
            cursor: pointer;
        }

        &--alt {
            @extend .repo__card;
            background-color: #523ee8;
            color: white;
        }
    }

    &__owner {
        color: #523EE8;
        font-size: 0.8rem;
        font-family: 'Poppins', sans-serif;;
        margin: 0;

        &-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem;
            background-color: #F4F7FA;
        }

        &--alt {
            @extend .repo__owner;
            color: white;
        }
    }

    &__title {
        @extend .repo__owner;
        font-weight: bold;
        font-size: 1rem;

        &--alt {
            @extend .repo__title;
            color: white;
        }
    }

    &__content {
        border-top: 0.5px solid #1C1E26;
        width: 100%;
        padding: 0.5rem;

        &--alt {
            @extend .repo__content;
            border-top: 0.5px solid white;
        }
    }

}