@import '../../styles/reset.scss';

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.collab {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        @include h3;
    }

    &__cont {
        display: flex;
        width: 100%;
    }

    &__group {
        @include centered;
        margin-bottom: $spacing-m;

    }

    &__active {
        padding: $spacing-s;
        margin-left: 2rem;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:after {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }

    &__text {
        @include h4;
        font-size: 3rem;
        margin-bottom: $spacing-s;
    }

    &__heading {
        @include h4;
    }

    &__infograph {
        background-color: #0AC286;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        color: white;
        position: absolute;
        top: 1rem;
        left: 1rem
    }

    &__button {
        @include button;
        &:hover {
            cursor: pointer;
        }
    }

    &__board {
        color: $charcoal;
        font-size: 1.5rem;
        font-family: 'Montserrat';
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    &__cont {
        display: flex;
        justify-content: center;
    }

    &__select {
        width: 50%;
    }

    &__submit {
        @include button;
        padding: 0.5rem 1rem;
        background-color: $accent;
        margin-left: 1rem;
    }
}