.collab {
    padding: 5rem 0;
    background-color: #FAFAFA;

    &__name {

    }

    &__cont {
        padding: 0 7rem;
        display: flex;
        width: 100%;
    }

    &__square {
        display: flex;
        width: 632px;
        min-width: 632px;
        flex-wrap: wrap;
    }

    &__box {
        width: 300px;
        height: 190px;
        //border: 1px solid #523ee8;
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 0.5px 5px 0 #e1e1e1; 
        &:nth-child(1){
            margin-right: 2rem;
        }

        &:nth-child(3) {
            margin-right: 2rem;
            margin-top: 2rem;
        }

        &:nth-child(4) {
            margin-top: 2rem;
        }
    }

    &__active {
        width: 100%;
        height: 408px;
        margin-left: 2rem;
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 0.5px 5px 0 #e1e1e1; 
        background-image: url('../../assets/05.jpg');
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:after {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }

    &__text {
        color: white;
        font-size: 3rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    &__button {
        @extend .collab__text;
        padding: .5rem 3rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        background-color: white;
        color: #0D294E;
        font-size: 1rem;
        &:hover {
            cursor: pointer;
        }
    }
}