$mainDark: #0052CC;
$mainLight: #DEEBFF;
$text: #172B4D;
$altColor: #7B40F2;

$firstGrey: #F9F8F7;

$purple: #51A39E;

//Color Pallette
$background: #f2f5f8;
$accent: #FD495F;
$charcoal: #2E4052;
$tiffBlue: #2EC4B6;
$culture: #F6F7F8;
$carBlue: #20A4F3;