@font-face {
    font-family: 'Roboto';
    src: url('../assets/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/Roboto/Roboto-Medium.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/Roboto/Roboto-Bold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/Montserrat/Montserrat-Black.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/Montserrat/Montserrat-Bold.ttf');
    font-weight: 600;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');




